.pagination {
    display: flex;
    max-width: 150px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0;
}
.pagination p {
    font-size: 14px;
    color: #000;
}
.prev,
.next {
    background: #ddd;
    background: var(--theme-img-color);
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}