.searchBox {
    text-align: center;
}
.input {
    border: 1px solid #ccc;
    height: 40px;
    width: 500px;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 14px;
    color: #000;
}
.input:focus {
    outline: 2px solid #0089ff;
    border: 1px solid #fff;
}