* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 10px; /* --- 10px = 1rem ---*/
}
:root {
    --theme-color: #FF9671;
    --theme-img-color: linear-gradient(90deg, rgb(255, 150, 113) 0%, rgb(255, 150, 113) 10%, rgba(252, 176, 69, 0.757) 72%);
}
body {
    overflow-x: hidden;
}
.container {
    max-width: 1120px;
    margin: auto;
}