.journeyWrapper {
    margin-top: 60px;
    padding: 75px 0 0;
    position: relative;
}
.journeyWrapper::before {
    content: '';
    background: var(--theme-img-color);
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.journeyContainer {
    display: flex;
    max-width: 1120px;
    margin: auto;
    padding: 60px 0;
}
.journeyWrapper .journeyHeading {
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    color: #333;
}
.journeyData {
    width: 55%;
}
.journeyData .para p {
    font-size: 16px;
    margin-bottom: 30px;
    padding-right: 50px;
    letter-spacing: 2px;
    line-height: 28px;
    color: #424242;
    text-align: justify;
}
.journeyImage {
    width: 45%;
}
.journeyImage img {
    width: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}
.journeyWrapper .flex-container {
    display: flex;
}