.avatar {
    width: 300px;
    height: 300px;
    position: relative;
}
.avatarPic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.ring {
    width: 100%;
    height: 100%;
    border-left: 4px solid var(--theme-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}