.lightAnimation {
    display: flex;
    list-style: none;
    margin-top: 30px;
}
.lightAnimation li {
    font-size: 30px;
    margin: 0 5px;
    font-weight: bold;
    color: #484848;
    animation: lightning 1.6s linear infinite;
}
.lightAnimation li:nth-child(9) {
    margin-left: 30px;
}
.lightAnimation li:nth-child(1) {
    animation-delay: 0s;
}

.lightAnimation li:nth-child(2) {
    animation-delay: 0.1s;
}

.lightAnimation li:nth-child(3) {
    animation-delay: 0.2s;
}

.lightAnimation li:nth-child(4) {
    animation-delay: 0.3s;
}
.lightAnimation li:nth-child(5) {
    animation-delay: 0.4s;
}
.lightAnimation li:nth-child(6) {
    animation-delay: 0.5s;
}
.lightAnimation li:nth-child(7) {
    animation-delay: 0.6s;
}
.lightAnimation li:nth-child(8) {
    animation-delay: 0.7s;
}
.lightAnimation li:nth-child(9) {
    animation-delay: 0.8s;
}
.lightAnimation li:nth-child(10) {
    animation-delay: 0.9s;
}
.lightAnimation li:nth-child(11) {
    animation-delay: 1s;
}
.lightAnimation li:nth-child(12) {
    animation-delay: 1.1s;
}
.lightAnimation li:nth-child(13) {
    animation-delay: 1.2s;
}
.lightAnimation li:nth-child(14) {
    animation-delay: 1.3s;
}
.lightAnimation li:nth-child(15) {
    animation-delay: 1.4s;
}
.lightAnimation li:nth-child(16) {
    animation-delay: 1.5s;
}
@keyframes lightning {
    0% {
        color: #484848;
        text-shadow: none;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
    }
}