.pageHeader {
    background: var(--theme-img-color);
    min-height: 250px;
}
.pageContainer,
.pageContainer {
    max-width: 1120px;
    margin: auto;
}
.pageContainer {
    text-align: center;
    padding-top: 70px;
}
.pageHeading {
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 700;
}
.pagePara {
    font-size: 25px;
    margin-top: 15px;
    color: #000;
    letter-spacing: 2px;
}