.technologyHeader {
    background-image: var(--theme-img-color);
    min-height: 250px;
}
.technologyContainer,
.techHeaderContainer {
    max-width: 1120px;
    margin: auto;
}
.technologyContainer {
    text-align: center;
    padding-top: 70px;
}
.techHeading {
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 700;
}
.techPara {
    font-size: 25px;
    margin-top: 15px;
    color: #fdffd3;
    letter-spacing: 2px;
}
.techWrap {
    padding: 80px 0 35px;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}
.techCard {
    width: 22%;
    padding: 20px;
    border-radius: 11px;
    margin-right: 44px;
    margin-bottom: 44px;
    text-align: center;
    border: 1px solid #ccc;
    /* background-color: #efefef; */
    /* clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); */
}
.techCard:nth-child(4n) {
    margin-right: 0;
}
.techImage {
    min-height: 120px;
    max-height: 120px;
    padding: 10px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}
.techImage img {
    width: 100%;
    mix-blend-mode: multiply;
    height: 100px;
    object-fit: contain;
}
.content .cardHeading {
    font-size: 16px;
    margin: 20px 0;
    background: #d6d6d6;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: 400;
    background: var(--theme-img-color);
}