.footerNav {
    background: var(--theme-img-color);
    padding: 20px 0;
    font-weight: 600;
}
.footerContainer {
    max-width: 1120px;
    margin: auto;
}
.footerLinksWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerUl {
    display: flex;
    list-style-type: none;
}
.footerUl li {
    margin-right: 30px;
}
.footerUl li a {
    color: black;
    text-decoration: none;
    font-size: 12px;
}
.footerCont p {
    font-size: 14px;
    color: black;
    letter-spacing: 2px;
}
.footerCont p .heartBeat,
.linkedin a,
.instagram a {
    font-size: 20px;
    text-decoration: none;
}
.linkedin,
.instagram {
    display: inline-flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}
.instagram {
    margin-left: 30px;
}